<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink= "/login" color= "primary">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Crea tu propia cuenta</h1>
    <img src="assets/icon/ny9aUfzR_400x400.png" alt="">
  </div>
  <form id="form">
    <ion-input type="text" placeholder="Introduce un nombre de usuario"></ion-input>
    <ion-input type="text"  placeholder="Introduce tu email"></ion-input>
    <ion-input type="password" placeholder="Introduce tu contraseña"></ion-input>
    <ion-button expand="block" shape="round" (click)="onRegister()">REGÍSTRATE</ion-button>

  </form>
  <p>Recuerda: Al registrarte, aceptas todos nuestros <br />términos y condiciones de seguridad.</p>
  <hr size="5px" color=black width="75%"/>
  <p id="precognis">© 2021. Powered by Precognis. Aviso legal</p>
</ion-content>